<!doctype html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
   <body>
   <div class="container">
       <h2>Glassware Table</h2>
   <p>Type something in the input field to search the table:</p>
       <input class="form-control" id="myInput" type="text" placeholder="Search..">
       <br>
         <table class="table table-bordered table-striped">
         <thead>
         <tr>
             <th>ID</th>
            <th>NAME</th>
             <th>CAPACITY</th>
             <th>PRICE</th>
             <th>QUANTITY</th>
         </tr>
         </thead>
             <tbody id="myTable">
         {% for row in rows %}
            <tr>
               <td> {{  row["ITEM_ID"]   }}    </td>
               <td> {{  row["NAME"]      }}    </td>
                <td>{{  row['CAPACITY']  }}    </td>
                <td>{{  row['PRICE']     }}    </td>
                <td>{{  row['QUANTITY']  }}    </td>
            </tr>
          {% endfor %}
          </tbody>

      </table>
    <div>
        <a href = "/dashboard">Go back to home page</a>

    <script>
     $(document).ready(function(){
        $("#myInput").on("keyup", function() {
     var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
        });
    });
    </script>

   </body>
</html>