<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="well">
    <h2>Asset Manager Chemistry Lab</h2>
    </div>

<div class="container">

    <div class="row">
        <div class="col-sm-6">

    <h3> ADD:</h3>
        <div class="list-group">
        <a href="/chemical" class="list-group-item">Chemical</a>
        <a href="/glassware" class="list-group-item">Glassware</a>
        <a href="/nonglassware" class="list-group-item">Nonglassware</a>
        <a href="/experiment" class="list-group-item">Experiment</a>
        <a href="/log" class="list-group-item">Log</a>
        </div>
        </div>

    <div class="col-sm-6">

    <h3> VIEW:</h3>
    <div class="list-group">
        <a href="/listchemical" class="list-group-item">Chemical</a>
        <a href="/listglassware" class="list-group-item">Glassware</a>
        <a href="/listnonglassware" class="list-group-item">Nonglassware</a>
        <a href="/listexperiment" class="list-group-item">Experiment</a>
        <a href="/listlog" class="list-group-item">Log</a>
    </div>
    </div>
    </div>

</div>

</body>
</html>
