<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

   <body>
   <div class="container-fluid">
   <div class="container">
      <form action = "{{ url_for('addrec') }}" method = "POST">

         <h3>Student Information</h3>
         <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="nm" class="form-control"/></br>
         </div>
         <div class="form-group">
            <label>Address</label>
            <textarea name = "add" class="form-control"></textarea><br>
         </div>
         <div>
            <label>City</label>
            <input type = "text" name = "city" class="form-control"/><br>
         </div>
         <div>
            <label>PINCODE</label>
            <input type = "text" name = "pin" class="form-control"/><br>
         </div>
         <button type = "submit" value = "submit" class="btn btn-default"/>Submit<br>
      </form>
   </div>
   </div>
   </body>
</html>